<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <div class="card card-box my-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="py-3">Change Password</h4>
              </div>
              <div class="col-7">
                <div class="row">

                </div>

              </div>
              <tabset>
                <!-- First tab -->
                <tab heading="Reset Password" id="tab1">
                  <form action="" [formGroup]="ResetPasswordForm" (ngSubmit)="OnSubmitResetPasswordForm()" class="form mb-15">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group m-2">
                        <label for="exampleInputEmail1">User Name*</label>
                        <input type="text" class="form-control form-control-sm"  formControlName="username"
                        [ngClass]="{ 'is-invalid': isSubmitted && s.username.errors }" placeholder="Enter User Name">
                          <div *ngIf="isSubmitted && s.username.errors" class="invalid-feedback">
                            <div *ngIf="s.username.errors.required"> Please Enter User Name</div>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- <div class="form-group m-2 ">
                      <small>Note:Must be 8 characters cantaining upercuse, number and special character</small>
                    </div> -->
                    <div class="col-md-6">
                      <div class="form-group m-2">
                        <label for="exampleInputEmail1">New Password*</label>
                        <input type="password" class="form-control form-control-sm" formControlName="newPassword"
                        [ngClass]="{ 'is-invalid': isSubmitted && s.newPassword.errors }"
                          placeholder="Enter New Password">
                          <div *ngIf="isSubmitted && s.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="s.newPassword.errors.required"> Please Enter New Password</div>
                      </div>
                      </div>
                    </div>
                  </div>
                </form>
                  <div class="row ">
                    <div class="col-12 col-md-9 col-lg-7">
                        <button type="button"
                            class="btn btn-primary  m-1 col-md-4 col-lg-4 col-12 text-white"
                            (click)="OnSubmitResetPasswordForm()" >Reset Password</button>
                        <button type="button" (click)="Deletes()"  class="btn btn-outline-dark m-1  col-md-2 col-lg-2 col-12"
                           >Delete</button>
                    </div>
                    <div class="col-12 col-md-3 col-lg-5"></div>
                </div>
                </tab>
                <!-- Sec tab -->
                <tab heading="Change Password" id="tab1">
              <form action="" [formGroup]="ChangePasswordForm" (ngSubmit)="OnSubmit()" class="form mb-15">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group m-2">
                      <label for="exampleInputEmail1">User Name*</label>
                      <input type="text" class="form-control form-control-sm" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }"  placeholder="Enter User Name">
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                          <div *ngIf="f.username.errors.required"> Please Enter User Name</div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group m-2">
                      <label for="exampleInputEmail1">New Password*</label>
                      <input type="password" class="form-control form-control-sm"  formControlName="newPassword"
                      [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" placeholder="Enter New Password">
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.newPassword.errors.required"> Please Enter New Password</div>
                    </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="form-group m-2 ">
                    <small>Note:Password Must be 8 characters containing uppercase letters, number and special character</small>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group m-2">
                      <label for="exampleInputEmail1">Confirm Password*</label>
                      <input type="password" class="form-control form-control-sm" formControlName="currentPassword"
                      [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }"
                        placeholder="Enter Confirm Password">
                        <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.currentPassword.errors.required"> Please Enter Confirm Password</div>
                    </div>
                    </div>
                  </div>
                </div>

                <div class="row ">
                  <div class="col-12 col-md-9 col-lg-8">
                      <button type="button" (click)="OnSubmit()"
                          class="btn btn-primary  m-1 col-md-4  col-12 text-white"
                          >Change Password</button>
                      <button type="button"
                          class="btn btn-outline-dark m-1  col-md-2  col-12" (click)="Delete()"
                         >Delete</button>
                  </div>
                  <div class="col-12 col-md-3 col-lg-4"></div>
              </div>
              </form>
            </tab>
            </tabset>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
